/* Dropdown.css */
.login-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .login-name {
    margin-right: 8px;
    color: black;
  }
  
  .login-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
  }
  
  .dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  